# First Codeup Jypter Notebook

In [9]:
type(123) #int
type("hello") #string
type(True) #boolean
type(3.32) #float

float

In [7]:
# This displays the data type.

In [10]:
# Assign a value to a variable
favorite_number = 42
n = favorite_number + 7

In [11]:
# Print favorite_number
print(favorite_number)

42

In [13]:
type(favorite_number)

int

In [14]:
# This is a string named favorite_number
type('favorite_number')

str

In [15]:
print(n)

49

In [16]:
# The value of a variable can be reassigned

In [19]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [23]:
# Boolean value
# True (capital T)
# False (capital F)

# Check equality
True == False

False

In [26]:
# Checking inequality
# Is True NOT EQUAL to True
True != True

False

In [27]:
# Is True NOT EQUAL to False
True != False

True

In [29]:
# not operator takes the opposite Boolean value
not False

True

In [30]:
# Truth tables and AND:
# True and True = True
# True and False = False
# False and True = False
# False and False = False

In [31]:
# Truth tables and AND:
# True or True = True
# True or False = True
# False or True = True
# False or False = False

In [32]:
is_first_of_the_month = True
report_has_been_sent = False
# Assign a Boolean value to should_process_report
should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [33]:
# Comparison Operators
1 == 1

True

In [34]:
# Compare two strings
'hello' == 'hello'

True

In [36]:
# Compare two strings
'hello' != 'hello'

False

In [35]:
# Check inequality
'hello' != 'Hello'

True

In [37]:
4 + 5 > 10 - 2

True

In [52]:
little_mermaid = 3
brother_bear = 5
hercules = 1
movies = [little_mermaid, brother_bear, hercules]
for item in movies:
    item *= 3
    print('$', item)
print(movies)

$ 9
$ 15
$ 3
[3, 5, 1]

In [53]:
my_list = ['one', 'two', 'three']
print(my_list)

['one', 'two', 'three']

In [54]:
# A list with three lists
[[1,2,3],[4,5,6],[7,8,9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [56]:
# Creating lists with list comprehension:
# Starts with 0.
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
[ n*2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
[n * 2 for n in range(10) if n % 2 ==0]
# Checking for equality
""" If n % 2 == 0
n = 0 True
n = 1 False
n = 2 True
n = 3 False

[0, 4, 8, 12, 16]

Three keyboard shortcuts:

While the cell highlight is blue, press "m" to shift cell to markup.
shift + enter runs the cell.

While the cell highlight is blue, press "b" for a cell below or "a" for a cell above.

To exit the green highlight, press esc.

# Exercises:

Identify the data type of the following values:


99.9 - int

"False" - str

False - bool

'0' - str

0 - int

True - bool

'True' - str

[{}] - list of dictionary

{'a': []} - dictionary with a list in the value

What data type would best represent:

A term or phrase typed into a search box? 
- string

If a user is logged in? 
- boolean

A discount amount to apply to a user's shopping cart? 
- float

Whether or not a coupon code is valid?
- boolean

An email address typed into a registration form?
- string

The price of a product?
- float

A Matrix?
- list of lists

The email addresses collected from a registration form?
- dictionary or list

Information about applicants to Codeup's data science program?
- list of lists

For each of the following code blocks, read the expression and predict what the result of evaluating it would be, then execute the expression in your Python REPL.


'1' + 2
- Type Error

6 % 4
- 2

type(6 % 4)
- modoleo thing

type(type(6 % 4))
- function

'3 + 4 is ' + 3 + 4
- Type error

0 < 0
- False

'False' == False
- False

True == 'True'
- False

5 >= -5
- True

True or "42"
- True

6 % 5
- 1

5 < 4 and 1 == 1
- False

'codeup' == 'codeup' and 'codeup' == 'Codeup'
- False

4 >= 0 and 1 !== '1'
- True (wrong, syntax error)

6 % 3 == 0
- True

5 % 2 != 0
- True

[1] + 2
- Type error

[1] + [2]
- Lists will be added [1,2]

[1] * 2
- List numbers doubled [1,1]

[1] * [2]
- Type error

[] + [] == []
- True

{} + {}
- Type error